{% extends "base.html" %}
{% block title %}Update{% endblock %}
{% block content %}
{% if results %}
    {% for result in results %}
<form action="/update" method="POST">
        <input type="hidden" name="id" value="{{ result['id'] }}"/>
        <p>姓名:<input type="text" name="name" value="{{ result['name'] }}"/></p>
        <p>性别:<input type="text" name="sex" value="{{ result['sex'] }}"/></p>
        <p>生日:<input type="text" name="birthday" value="{{ result['birthday'] }}"/></p>
        <p>家乡:<input type="text" name="hometown" value="{{ result['hometown'] }}"/></p>
        <p>婚姻状况:<input type="text" name="isMarried" value="{{ result['isMarried'] }}"/></p>
        <p><input type="submit" name="提交" /></p>
</form>
    {% endfor %}
{% endif %}
{% endblock %}